<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Forward all requests to the ASP.NET Core Kestrel process -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet"
                arguments=".\AutoSignals.dll"
                stdoutLogEnabled="false"
                stdoutLogFile=".\logs\stdout"
                hostingModel="inprocess" />

    <!-- Block sensitive paths at the IIS level before the app is touched -->
    <security>
      <requestFiltering>
        <!-- Block hidden dot-directories -->
        <hiddenSegments>
          <add segment=".git" />
          <add segment=".env" />
          <add segment=".ssh" />
          <add segment=".aws" />
          <add segment=".docker" />
          <add segment=".vs" />
          <add segment=".npmrc" />
          <add segment=".nuget" />
        </hiddenSegments>
        <!-- Block common attack file extensions -->
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".php"  allowed="false" />
          <add fileExtension=".jsp"  allowed="false" />
          <add fileExtension=".xsd"  allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>

    <!-- Custom error pages -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <!-- IIS-level 404: redirect to landing page -->
      <remove statusCode="404" />
      <error statusCode="404" responseMode="Redirect" path="/" />
      <!-- IIS-level 403 (hidden segments hit above): Rick Roll -->
      <remove statusCode="403" />
      <error statusCode="403" responseMode="Redirect" path="https://www.youtube.com/watch?v=dQw4w9WgXcQ" />
    </httpErrors>

  </system.webServer>
</configuration>
