@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<!-- Start::page-header -->
<div class="d-flex align-items-center justify-content-between page-header-breadcrumb flex-wrap gap-2">
    <div>
        @* <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item">
        <a href="javascript:void(0);">
        Dashboards
        </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Sales</li>
        </ol>*@
        <h1 class="page-title fw-medium fs-18 mb-0">Confirm your email</h1>
    </div>
    <div class="d-flex align-items-center gap-2 flex-wrap">
        <div class="form-group">
            @* <div class="input-group">
            <div class="input-group-text bg-white border"> <i class="ri-calendar-line"></i> </div>
            <input type="text" class="form-control breadcrumb-input" id="daterange" placeholder="Search By Date Range">
            </div> *@
        </div>
        <div class="btn-list">
            @* <button class="btn btn-white btn-wave">
            <i class="ri-filter-3-line align-middle me-1 lh-1"></i> Filter
            </button>
            <button class="btn btn-primary btn-wave me-0">
            <i class="ri-share-forward-line me-1"></i> Share
            </button> *@
        </div>
    </div>
</div>
<!-- End::page-header -->


<div class="row justify-content-center">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card custom-card overflow-hidden h-100">
            <div class="card-body text-center">
                @{
                    if (@Model.DisplayConfirmAccountLink)
                    {
                        <p>
                            Please check your email to confirm your account.
                        </p>
                    }
                }
                <a href="/Identity/Account/Login" class="btn btn-primary mt-3">Back to Login</a>
            </div>
        </div>
    </div>
</div>


